<h1>Todos os produtos</h1>
<div class="products">
    {{#each products}}
        <div class="product">
            <div class="boxImg">
                <img src="{{this.image}}" alt="{{this.name}}">
            </div>
            <h3>{{this.name}}</h3>
            <p>R$ {{this.price}}</p>
            <div class="actions">
                <a href="/products/{{this._id}}" class="btn">Ver mais</a>
            </div>
        </div>
    {{/each}}
</div>